/* @import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap'); */

html,
body {
   padding: 0;
   margin: 0;
   /* font-family: Prompt, sans-serif !important; */
}

a {
   text-decoration: none;
   color: #6057ff;
}
